
*{
	margin:0px;
	scroll-behavior: smooth;
	overflow-x:hidden;
}
/* Typographies * ---------------------------------------*/
h1,h2,h3, a{
	font-family:'Fira Code', monospace;
}
h1{
	font-size:35px;
}
h2{
	font-size:30px;
}
h3{
	font-size:25px;
}
p{
	font-family:"Open Sans";
	font-size:23px;
	text-align:justify;
}
a{
	text-decoration: none;
	color: white;
	font-size:25px;
}

span{
	color: rgba(255,82,82);
}
@media(max-width:799px){
	h1, h2, h3, p, a{
		text-align:center;
	}
	h1{
		font-size:25px;
	}
	h2{
		font-size:20px;
	}
	h3, a{
		font-size:19px;
	}
	p{
		font-size:17px;
	}
}
/* Animations ---------------------------------------*/
@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1vh);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    transform: translateX(-8px) translateY(8px);
  }
}
/* Header * ---------------------------------------*/
header{
	width:100%;
	height:10%;
	background: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 30px;
	z-index: 999;
	text-decoration: none;
	position: fixed;
	box-shadow: 0px 0px 2vw rgba(0 ,0 ,0 ,0.5);
}

.MenuFantome{
	width: 100%;
	height: 10%;
}
#Logoh{
	width:4vw;
	margin-left:5vw;
}
.Menu{
	width: 50%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-left:10%;
	margin-right:5%;
}
.Menu a{
	font-size:20px;
}
.Menu a:hover{
	color: rgba(255,167,36);
}
.Logo{
	height:10%;
}
label{
	font-size: 50px;
	color: white;
	display: none;
}

#switch{
	display:none;
	float:right;
}

@media(max-width:799px){
	nav{
		width:100%;
        display: none;
        clear: both;
	}
	header{
		display:block;
		min-width:100%;
		max-height:9%;
	}
	label{
		display: block;
		float: right;
		margin-right:20px;
		font-size:40px;
		margin-top:1vh;
	}
	#switch:checked + nav{
		display:flex;
		flex-direction: column;
	}
	.Logo{
		max-height:8%;
	}
	.Menu{
		width:100%;
		margin-left:0px;
		display:none;
		text-align: center;
        padding :0px ;
        margin-right:15px;
        color:white;
        background-color: black;

	}
	.TxtMenu{
		margin-left:00px;
		margin-top:5%;
	}
}
/* Boutons ---------------------------------------*/
.bouton{
	margin-top:2vh;
	margin-left:2%;
	width:50%;
	border:2px solid rgba(255,167,36);
	border-radius:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	height:6vh;
}
.bouton a{
		color: rgba(255,167,36);
}
.bouton:hover{
	-webkit-animation: bg-pan-left 0.5s linear forwards;
	        animation: bg-pan-left 0.5s linear forwards;
}
@media(max-width:799px){
	.bouton{
		width:30vw;
		background-color:rgba(255,167,36);
		border:none;
	}
	.bouton a{
		color:white;
	}
}
/* Détails ---------------------------------------*/
.positiondetail1{
	display:flex;
	align-items:flex-start;
	justify-content:center;
	margin-top:-6vh;
}
.positiondetail2{
	width:50vw;
	margin-top:5vh;
}
@media(max-width:799px){
	.positiondetail1{
		margin-top:0px;
	}
}
/* Accueil ---------------------------------------*/
 #Accueil{
 	padding-top:9%;
 	width:100vw;
 	height:85vh;
 	background-repeat: no-repeat;
 	background-image: url("magasin1.jpg");
 	display:flex;
 	flex-direction:column;
 	justify-content:center;
 }
 .TexteDintro{
 	width:40%;
 	margin-left:5%;
 	background-color: rgba(255,255,255, 0.9);
 	animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
 }
.margetexte{
	margin:4%;
}
#CTA1{
	margin-top:1vh;
	width:6vw;
	margin-left:47vw;
	animation: slide-bottom 3s ease-in-out infinite both;
}
@media(max-width:799px){
	#Accueil{
		background-image: url("magasin2.jpg");
		background-size:100vw;
		justify-content:center;
		align-items:center;
	}
	.TexteDintro{
		margin-left:0px;
		width:90%;
		animation:none;
	}
	#CTA1{
		display:none;
	}
}
/* Guitares ---------------------------------------*/
.Guitares{
	margin-top:10vh;
	margin-left:10vw;
	width:80vw;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}
.TexteGuitare{
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:40vw;
	height:40vh;
	margin:6vw;
}
.TexteGuitare p{
	margin:2vw;
}
.TexteGuitare:hover{
	animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	border-left:2px solid black;
	border-bottom:2px solid black;
}
@media(max-width:799px){
	.Guitares{
		flex-direction:column;
		margin-top:3vh;
	}
	#Guitare2{
		flex-direction:column-reverse;
	}
	.imagesguitares{
		width:60vw;
	}
	.TexteGuitare{
		margin-bottom:2vh;
		width:70vw;
	}
}
/* Transitions ---------------------------------------*/
.Transition{
	width:95vw;
}
#Trans1{
	margin-left:5vw;
}
#Trans2{
	margin-right:5vw;
}
@media(max-width:799px){
	.Transition{
		width:100vw;
		margin-top:5vh;
		margin-left:0px;
	}
	#Trans1, #Trans2{
		margin-left:0px;
		margin-right:0px;
	}
}
/* Luthiers ---------------------------------------*/
#Luthiers{
	width:50vw;
	margin-top:5vh;
	margin-left:25vw;
	display:flex;
	flex-direction:column;
	align-items:center;
}
#Luthiers p{
	margin-top:2vh;
	text-align:justify;
}
@media(max-width:799px){
	#Luthiers{
		width:70vw;
		margin-left:15vw;
	}
	#Luthiers h3{
		text-align:center;
	}
}
/* Meilleures ventes ---------------------------------------*/
#MeilleuresVentes{
	margin-top:5vh;
	display:flex;
	flex-direction:column;
}
#MeilleuresVentes h2{
	align-self:center;
}
.imgmeilleurevente{
	width:50vw;
}
.MeilleureVente1{
	margin-top:5vh;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
}
.TexteMeilleureVente{
	display:flex;
	flex-direction:column;
	width:30vw;
}
.MeilleureVente1 .TexteMeilleureVente{
	padding-left:10vw;
}
.MeilleureVente2{
	margin-top:-5vw;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
}
.MeilleureVente2 .TexteMeilleureVente{
	padding-right:10vw;
}
@media(max-width:799px){
	.MeilleureVente1{
		width:80vw;
		margin-left:10vw;
		flex-direction:column-reverse;
		justify-content:center;
	}
	.MeilleureVente2{
		width:80vw;
		margin-left:10vw;
		flex-direction:column;
		justify-content:center;
	}
	.imgmeilleurevente{
		width:70vw;
	}
	.TexteMeilleureVente{
		padding:0px;
	}
}
/* Meilleurs Artistes ---------------------------------------*/
#MeilleursArtistes{
	margin-top:10vh;
	width:100vw;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
#MeilleursArtistes h2{
	align-self:center;
}
#alignementartistes{
	display:flex;
	flex-direction:row;
}
.photochanteur{
	width:50%;
	margin-left:25%;
}
.BlocArtiste{
	width:30vw;
	margin:2vw;
	display:flex;
	flex-direction:column;
	justify-content:center;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 0px 0px 2vw rgba(0 ,0 ,0 ,0.2);
}
.BlocArtiste h3{
	margin:2%;
	align-self:center;
	vertical-align: flex-start;
}
.BlocArtiste p{
	margin-top:5vh;
	margin-bottom:5vh;
	margin-left:10%;
	width:80%;
}
#alignementmusique{
	display:flex;
	flex-direction:row;
}
iframe{
	width:70%;
	margin-left:15%;
	margin-top:4vh;
	margin-bottom:4vh;
	border: 2px solid rgba(255,167,36);
	border-radius:10px;
}
@media(max-width:799px){
	#MeilleursArtistes{
		margin-top:5vh;
		margin-bottom:2vh;
	}
	#alignementartistes{
		flex-direction:column;
	}
	.BlocArtiste{
		margin-top:2vh;
		width:80vw;
		margin-left:10vw;
	}
}
/* Footer ---------------------------------------*/
footer{
	width:100vw;
	background-color:black;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
#Logof{
	width:10%;
}
#ContenuFooter{
	margin-top:2vh;
	color:white;
	display:flex;
	flex-direction:column;
	margin-bottom:2vh;
}

footer a{
	font-size:20px;
	text-decoration:none;
}
footer iframe{
	width:30%;
	margin-right:10%;
}
@media(max-width:799px){
	footer{
		flex-direction:column;
		justify-content:center;
	}
	#Logof{
		margin-top:2vh;
		width:30%;
	}
	#ContenuFooter{
		margin-bottom:0px;
	}
	footer iframe{
		width:70%;
	}
}